/* browser resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* document sizes */
html, body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Alata', 'Josefin Sans', sans-serif;
    font-size: 15px;
    line-height: 1.25;
}

body {
    background: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}

.wrapper {
    
}

.container {
    background-image: url("/images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    marging: 1rem;
    padding: 0 auto;
} 

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Josefin Sans';
    color: hsl(0, 0%, 100%);
    border: 2px solid white;
    width: 75%;
    text-transform: uppercase;
    padding: 1.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Josefin Sans';
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
}

/* hide for mobile */
/* .navbar-hide {

} */

p {
    font-family: 'Josefin Sans';
    text-weight: bold;
    color: hsl(0, 0%, 41%);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}